*.atsuo
/devices/Debug
/devices/A1Cn12
/devices/A1En12
/devices/A1ES12
/devices/A1Sn12
/devices/A1ST12
/devices/A1Tn12
/devices/A3SC12
/devices/A3Sn12
/devices/S2Sn12
/devices/*.cogui
/devices/*.comarker
